html, body {
  height:100%;
  margin: 0;
}

#root, #root > div {
  display:flex;
  flex-direction:column;
  height:100%;
}

.mainDiv {
  display:flex;
  flex-direction:column;
  height:100%;
}

.title {
  padding: 0.7rem;
  flex: 0 1 auto;
  display: none;
}

.nav {
  flex: 0 1 auto;
}

.footer{
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width:100%;
  height: 5%;
  border-top: 1.5px solid lightgrey;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
}

.footer > .footerText {
  color:#9AA0AC;
  font-size:11px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view {
  background-color: #e7f0f8;
  padding: 3rem;
}

.cardHeader {
  font-size: 2rem;
  text-align: center;
}

.cardMeta {
  font-size: 1rem;
  text-align: center;
}

.cardDescription {
  font-size: 1rem;
  text-align: center;
  color: #5EBA00;
}


/*following are CSS for RecentScans view*/

.recentScansPage {
  display:flex;
  flex-direction:column;
  flex: 1 1 auto;
}

.recent {
  flex: 1.5;
  background-color: #EBE9E9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.focusedScan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.focusedScan > img {
  max-width: 90%;
}

.focusedScan > .LPNumberDiv {
  display : block;
}

.focusedScan > p {
  font-size:1rem;
  margin: 0;
}

.focusedScan > .LPnumber {
  font-size:1.5rem;
  margin: 0;
}
.focusedScan > button {
  font-size:1.5rem;
  margin: 0;
}

.focusedScanTextArea {
  display: flex;
  justify-content:center;
  align-items: center;
  padding-top: 0.5rem;
}

.focusedScanTextArea > h2 {
  font-size: 1.5em !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.focusedScanTextArea > .on {
 display:block !important;
}

.focusedScanTextArea > .off {
  display:none !important;
}

.past {
  flex: 1;
  background-color: #DEE2D6;
  overflow-x: auto;
  /* white-space: nowrap; */
  
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
}

.past > .scanList {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items:center;
}

.past > .scanList > #focused {
  background-color: #3581B8;
}

.past > .scanList > .scan{
  width:16rem;
  height:10rem;
  margin: 0rem 1rem 0rem 1rem;

  display:flex;
  flex-direction: row;
  align-items:center;
}

.scanImg {
  max-width:6rem;
  margin: 0.5rem;
}

.pastTitle {
  font-size:1.0em;
  margin:0;
  text-align:center;
  background-color: #DEE2D6; /*#DEE2D6*/
  padding:0.3rem 0 0 0;

  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}

.pastTitle > .header {
  margin:0 0 0 0 !important;  
} 

.pastTitle > .leftArrow {
  color:#3581B8;
  font-size:3rem;
  margin-right: 1rem;
}

.pastTitle > .rightArrow {
  color:#3581B8;
  font-size:3rem;
  margin-left: 1rem;
}

.off {
  color:#FCB07E!important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pastTitleLgMedia {
  display:none;
}

/* FocusedScan Checkbox Styling */


.checkBoxDiv {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.checkBox-unchecked {
  margin: 3px;
  position:relative;  
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 28px;
  left: 0;
  top: 0;
  width: 28px;
  box-sizing:content-box !important;
}
.checkBox-checked {
  margin: 3px;
  position:relative;  
  background-color: #66bb6a;
  border-color: #66bb6a;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 28px;
  left: 0;
  top: 0;
  width: 28px;
  box-sizing:content-box !important;
}
.checkMark {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 1;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

@media (min-width:768px) {
  .title {
    display:block;
  }

  .recentScansPage {
    flex-direction:row;
    position:static;
  }

  .recent {
    flex:2 1;
  }

  .past {
    flex-direction:column;
    overflow-y:auto;
    padding: 1rem 0rem 1rem 0rem;
  }

  .past > .scanList {
    flex-direction:column;
    max-height: 1px; /*I don't know why, but setting ANY max-height here fixes vertical overflow issue. So here it is. */
  }

  .focusedScan > img {
    max-width: 48rem;
  }

  .past > .scanList > .scan {
    margin: 1rem 0rem 1rem 0rem;
  }

  .pastTitle {
    display:none;
  }

  .pastTitleLgMedia {
    font-size:1.2em;
    margin:0;
    text-align:center;
    background-color: #DEE2D6;
    padding:0.3rem 0 0.6rem 0;
  
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
  }
  
  .pastTitleLgMedia > .header {
    margin:0 0 0 0 !important;  
  } 
  
  .pastTitleLgMedia > .leftArrow {
    color:#3581B8;
    font-size:3rem;
    margin-right: 1rem;
  }
  
  .pastTitleLgMedia > .rightArrow {
    color:#3581B8;
    font-size:3rem;
    margin-left: 1rem;
  }

  .focusedScanTextArea > h2 {
    font-size: 2em !important;
  }
}

@media (min-width:1440px) {
  .recent {
    flex:3 1;
  }

  .focusedScan > img {
    max-width: 58rem;
  }

  .focusedScanTextArea > p {
    font-size: 1.5em;
    margin: 0em;
  }

  .pastTitleLgMedia {
    font-size:1.5em;
  }
}