.App {
  text-align: center;
}

.title {
  padding: 1.5rem;
}

.nav {
}

.footer{
  text-align: center;
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  width:100%;
  border-top: 1.5px solid lightgrey;
}

.footer > .footerText {
  color:#9AA0AC;
}

.view {
  background-color: #e7f0f8;
  padding: 3rem;
}

.cardHeader {
  font-size: 2rem;
  text-align: center;
}

.cardMeta {
  font-size: 1rem;
  text-align: center;
}

.cardDescription {
  font-size: 1rem;
  text-align: center;
  color: #5EBA00;
}